* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  color: #9a9a9a;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 23px;
}

h1,
h2,
h3 {
  color: #777;
  font-family: 'PT Serif', serif;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}
